Library/
Temp/
.vs/

Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
VNC System.sln
VNC System.csproj
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Unity-VNC-Client-csharp.sln
Unity-VNC-Client-master.zip
Unity-VNC-Client.sln
Unity-VNC-Client.userprefs
VNC System.Editor.csproj
VNC System.Plugins.csproj

BuildPlugin/Realvnc-4_1_3-winsrc/common/Debug/
BuildPlugin/Realvnc-4_1_3-winsrc/common/Debug_Unicode/
Unity-VNC-Client.Editor.csproj
Unity-VNC-Client.csproj
