Unity-VNC-Client/Library/
Unity-VNC-Client/Temp/
Unity-VNC-Client/.vs/

Unity-VNC-Client/Assembly-CSharp-Editor-vs.csproj
Unity-VNC-Client/Assembly-CSharp-Editor.csproj
Unity-VNC-Client/VNC System.sln
Unity-VNC-Client/VNC System.csproj
Unity-VNC-Client/Assembly-CSharp-firstpass-vs.csproj
Unity-VNC-Client/Assembly-CSharp-firstpass.csproj
Unity-VNC-Client/Assembly-CSharp-vs.csproj
Unity-VNC-Client/Assembly-CSharp.csproj
Unity-VNC-Client/Unity-VNC-Client-csharp.sln
Unity-VNC-Client/Unity-VNC-Client-master.zip
Unity-VNC-Client/Unity-VNC-Client.sln
Unity-VNC-Client/Unity-VNC-Client.userprefs
Unity-VNC-Client/Unity-VNC-Client.Editor.csproj
Unity-VNC-Client/Unity-VNC-Client.csproj
Unity-VNC-Client/VNC System.Editor.csproj
Unity-VNC-Client/VNC System.Plugins.csproj
PluginSource/projects/VisualStudio2015/.vs/
PluginSource/source/Realvnc/win/Debug/
PluginSource/source/Realvnc/common/Debug_Unicode/
