UnityProject/Library/
UnityProject/Temp/
UnityProject/.vs/

UnityProject/Assembly-CSharp-Editor-vs.csproj
UnityProject/Assembly-CSharp-Editor.csproj
UnityProject/VNC System.sln
UnityProject/VNC System.csproj
UnityProject/Assembly-CSharp-firstpass-vs.csproj
UnityProject/Assembly-CSharp-firstpass.csproj
UnityProject/Assembly-CSharp-vs.csproj
UnityProject/Assembly-CSharp.csproj
UnityProject/Unity-VNC-Client-csharp.sln
UnityProject/Unity-VNC-Client-master.zip
UnityProject/Unity-VNC-Client.sln
UnityProject/Unity-VNC-Client.userprefs
UnityProject/Unity-VNC-Client.Editor.csproj
UnityProject/Unity-VNC-Client.csproj
UnityProject/VNC System.Editor.csproj
UnityProject/VNC System.Plugins.csproj
PluginSource/projects/VisualStudio2015/.vs/
